<header id="about-header">
  <h1>About Megaphone </h1>
  <h2>An open-source platform designed to provide New York based activist organizations with digital infrastructure.</h2>
</header>
<div id="bubble-wrapper">
  <div class="bubble-container">
    <div class="bubble">
      <%= fa_icon "id-card" %>
    </div>
    <div class="bubble-description">
    Megaphone allows activist groups to provide a rating for all NY State and US Representatives and track their positions on an unlimited number of custom issues.
    </div>
  </div>
  <div class="bubble-container">
    <div class="bubble">
      <%= fa_icon "vote-yea" %>
    </div>
    <div class="bubble-description">
      Organizations can also input bills into their database along with a summary and endorsement.
      Megaphone then updates its database using the roll call vote for the bill.
    </div>
  </div>
  <div class="bubble-container">
    <div class="bubble">
      <%= fa_icon "money-bill-alt" %>
    </div>
    <div class="bubble-description">
      Megaphone can additionally track the total amount of campaign contributions recieved from specified lobbyists, PACs and Super PACs.
    </div>
  </div>
  <div class="bubble-container">
    <div class="bubble">
      <%= fa_icon "envelope-open-text" %>
    </div>
    <div class="bubble-description">
      Lastly, at the press of a button, organizations can direct targeted email campaigns by creating templates which can be edited by users before being sent out.
    </div>
  </div>
</div>
<div id="user-experience">
  After entering their address on the Megaphone homepage, users are presented with a list of their representatives and all the information collected about them.
  They can then select from a variety of email templates to take action and contact their representative.
</div>
