<% content_for :title, "FIND MY REPRESENTATIVE" %>
<div class = "inner">
	<div class="narrow">
		<form action="/find" method="post">
	    <%= token_tag %>
			<div class="row">
		    <div class = "field col-12">
		      <input type="text" class="form-control" id="address" name="address" placeholder="Address Line 1">
		    </div>
			</div>
			<div class="row">
		    <div class = "field col-6">
		      <input type="text" class="form-control" id="city" name="city" placeholder="City">
		    </div>
		    <div class = "field col-6">
		      <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zipcode">
		    </div>
			</div>
			<div class="row">
				<input type="submit" class="button">
			</div>
		</form>
	</div>
</div>
