<% content_for :title, "MEGAPHONE" %>
<div class = "inner">
	<div class="narrow">
		<form action="/find" method="post" id="find-rep-form">
	    <%= token_tag %>
		  <div class = "field" id="address-field">
		  	<input type="text" class="form-control" id="address" name="address" placeholder="Address Line 1">
		  </div>
		  <div class = "field" id="city-field">
		  	<input type="text" class="form-control" id="city" name="city" placeholder="City">
		  </div>
		  <div class = "field" id="zip-field">
		    <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zipcode">
		  </div>
			<div class = "field" id="submit-field">
				<input type="submit" class="wide-button" value="Find My Representatives"/>
			</div>
		</form>
	</div>
</div>
