
<% content_for :title, "ISSUES" %>

<% @issues.each_with_index do |issue, index| %>
  <div class="issue-container" id="issue-container-<%=index%>">
    <%= render :partial => 'show', :locals => {:@issue =>  issue, :@index => index} %>
  </div>
<% end %>
<div class="issue-container" id="new-issue-container">
  <%= link_to 'New Issue', new_issue_path, class: "wide-button", remote: true%>
</div>
