<% content_for :title, @representatives.first.profession+"S" %>
<%  @representatives.each_with_index do |representative, index| %>
  <div class="rep-wrapper" id="rep-wrapper-<%=index%>">
    <%= render :partial => 'admin_overview', :locals => {:@representative =>  representative, :@index => index} %>
  </div>
<% end %>
