<% content_for :title, "Lobbyists" %>
<div class="card-wrapper">
  <% @lobbyists.each do |lobbyist| %>
    <div class="card" id="lobbyist-card-<%=lobbyist.id%>">
      <%= render :partial => 'show', :locals => {:@lobbyist =>  lobbyist} %>
    </div>
  <% end %>
  <div class="card" id="new-lobbyist-card">
    <%= link_to 'New Lobbyist', new_lobbyist_path, class: "submit-button"%>
  </div>
</div>