// Place all the styles related to the Representatives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.belief-description{
  overflow: hidden;
  margin: 0;
}
.issue-description{
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease;
  margin: 0;
  opacity: 0;
}
.issue-description.expanded{
  max-height: 200px;
  opacity: 1;
}
.belief-footer{
  text-align: center;
  padding: 10px;
  height:70px;
  border-top: 2px solid #e56f44;
}
.belief-form{
  width:100%;
  padding: 10px;
  text-align: left;
}
.belief-description-field{
  resize: none;
  display: block;
  margin: 0;
}
.belief-update-button{
  margin-bottom: 0;
}
