// Place all the styles related to the Bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bill-form{
  grid-template-columns: 60px repeat(4, 1fr) 60px;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}
.bill-location-field{
  grid-row: 1;
  grid-column: 1 / 4;
}
.bill-session-field{
  grid-row: 1;
  grid-column: 4 / 5;
}
.bill-number-field{
  grid-row: 1;
  grid-column: 5 / 7;
}
.bill-name-field{
  grid-row: 2;
  grid-column: 2 / 7;
}
.bill-endorsed-field{
  grid-row: 2;
  grid-column: 1 / 2;
}
.bill-issue-field{
  grid-row: 4;
  grid-column: 1 / 7;
  margin-bottom: 10px;
}
.bill-summary-field{
  grid-row: 5;
  grid-column: 1 / 7;
}
.bill-submit-button{
  grid-row: 6;
  grid-column: 3 / 5;
}
