#recipiant-wrapper{
  height: 400px;
  overflow: scroll;
  // border: 1px #ccc solid;
  border-radius: 5px;
  padding: 10px;
  // background-color: #fff;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.recipiant-field label{
  white-space: nowrap;
  float: right;
}
.recipiant-field input{
  float: left;
}

.email-form{
  text-align: left;
  width: 100%;
  padding: 20px;
}

.email-wrapper::after{
  content: '\a';
  white-space: pre;
  display: block;
  width: 90%;
  height: 2px;
  margin-top: 20px ;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #888;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  margin-bottom: 20px;

}
.email-container{
  border: 1px #ccc solid;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  position: relative;
}
.email-container span{
  display: block;
}
