// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.issue-tag{
  width: auto;
  height: 40px;
  background-color: #ccc;
  position: relative;
  border-right: 1px solid #fff;
  border-radius: 5px;
  margin: 10px 10px 0px 0px;
  padding: 10px 5px 10px 5px;
  display: inline-block;
  transition: all .5s ease;
  margin-right: 20px;
}
.issue-tag:after{
  content: '';
  width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
  border-left: 20px solid #ccc;
  position: absolute;
  bottom: 2px;
  right:-19px;
  transition: all 0.5s ease;
}
.issue-tag.selected{
  background-color: #aaa;
}
.issue-tag.selected:after{
  border-left-color: #aaa;
}
.issue-tag p{
  font-size: 12px;
  margin: 0;
}
